$color-popup-background = rgba(0, 0, 0, 0.6)
$color-popup-content-background = #efeff4
$color-border = #d9d9d9
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
