$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-medium-xx = 18px
$font-size-medium-xxx = 20px
$font-size-large = 22px
$font-size-large-x = 24px
$font-size-large-xx = 26px
$font-size-large-xxx = 28px
$font-size-large-xxxx = 30px
