@font-face {
  font-family: "common-icon";
  src: url('common-icon.eot?t=1573524366163'); /* IE9*/
  src: url('common-icon.eot?t=1573524366163#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("common-icon.woff2?t=1573524366163") format("woff2"),
  url("common-icon.woff?t=1573524366163") format("woff"),
  url('common-icon.ttf?t=1573524366163') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('common-icon.svg?t=1573524366163#common-icon') format('svg'); /* iOS 4.1- */
}

[class^="common-icon-"], [class*=" common-icon-"] {
  font-family: 'common-icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.common-icon-github:before { content: "\ea01"; }
.common-icon-location:before { content: "\ea02"; }
