language: node_js
node_js:
  - "10.13.0"
branches:
  only:
    - master
    - test
install:
  - npm install
script:
  - npm run test
  - npm run build
  - cd examples/base
  - npm install
  - npm run svgtofont
  - npm run build
